<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">

    <h1>Add New Part</h1>

    <form action="/add" method="post">

        <div class="form-group">
            <label>Part Name</label>
            <input type="text" name="name" placeholder="Enter Part Name" required>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" step="0.01" placeholder="Enter Price" required>
        </div>

        <button type="submit" class="btn">
            Save Part
        </button>

        <a th:href="@{/}" class="btn">
            Back
        </a>


    </form>

</div>

</body>
</html>