<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Add Cycle</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="form-container">

<h2>Add Cycle</h2>

<form action="/cycles/add" method="post">

<div class="form-group">

<label>Cycle Name</label>

<input type="text" name="name" required>

</div>

<button class="btn">

Save

</button>

<a th:href="@{/cycles}" class="btn">

Back

</a>

</form>

</div>

</body>

</html>